body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://cdn.discordapp.com/attachments/1279065576269938728/1279067885779816510/image.jpg?ex=66d3184b&is=66d1c6cb&hm=ef07a8818641f67c00703b927e4e28117d2f3e8eb28309f243d6c7fc488a6feb&') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    color: white;
}

.profile {
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.discord {
    background-image: url('https://static-00.iconduck.com/assets.00/discord-icon-2048x2048-o5mluhz2.png');
}

.github {
    background-image: url('https://www.iconsdb.com/icons/preview/white/github-11-xxl.png');
}
